@import bourbon

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.player
		display: none

	// .check_wrap
	// 	margin-bottom: 60px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	body
		margin: 0
	.mnu_left
		display: none
	.mu_container
		padding-left: 30px

	.big-background_wrap
		&::before
			left: 3px
	// 	padding: 22px

	.big_background
		left: 23px

	.s_video
		&::before
			left: 3px

	.bg_s_video
		left: 22px

	.s_advantages
		&::before
			left: 3px

	.advantage_wrap
		height: auto

	.bg_s_advantages
		left: 22px

	.s_prices
		&::before
			left: 3px

	.bg_s_prices
		left: 22px

	.s_souvenirs
		&::before
			left: 3px

	.bg_s_souvenirs
		left: 22px
	


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	// h1
	// 	text-align: center

	// .top_line
	// 	.td
	// 		height: auto

	.p_wrap
		max-width: none

	// .s_souvenirs
	// 	.item
	// 		width: 47%
	// 		margin: 2% 1%



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	body
		.mu_container
			padding: 15px

	.header_content
		margin-left: 10px
		margin-top: 60px

	.zoom_gallery
		.souvenir_wrap
			width: 190px
		.img_souvenirs
			width: 186px

	.p_wrap
		>p
			font-size: em(12)
			line-height: em(18)

	.big-background_wrap
		background: none
		border: none
		&::before
			border-image: none
			border-radius: 0

	.big_background
		left: 0
		top: 0
		right: 0
		bottom: 0
		border-radius: 0
		border: none

	.s_video
		background: none
		border: none
		&::before
			border-image: none
		.wrap_copper
			max-width: none
			width: 100%
			margin: 0

	.bg_s_video
		left: 0
		top: 0
		right: 0
		bottom: 0
		border-radius: 0
		border: none

	.s_advantages
		background: none
		border: none
		&::before
			border-image: none

	.advantage_wrap
		height: auto

	.bg_s_advantages
		left: 0
		top: 0
		right: 0
		bottom: 0
		border-radius: 0
		border: none

	.s_prices
		background: none
		border: none
		&::before
			border-image: none

	.bg_s_prices
		left: 0
		top: 0
		right: 0
		bottom: 0
		border-radius: 0
		border: none
		&::before
			border-radius: 0

	.s_souvenirs
		background: none
		border: none
		border-radius: 0
		&::before
			border-image: none

	.bg_s_souvenirs
		left: 0
		top: 0
		right: 0
		bottom: 0
		border-radius: 0
		border: none
		&::before
			border-radius: 0

	a.moskva24
		font-size: em(13)
	
	.p_wrap, .wrap_paper
		>p
			font-size: em(13)
			line-height: em(21)

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
	




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

